<div class="teams-container">
  <h4>Teams</h4>
  <%= link_to('New Team', new_team_path, class: "btn-new-team") %></p>
  <div class="teams">
    <% @teams.each do |t| %>
      <%= link_to team_path(t) do %>
        <div class="team">
          <div class="team-description">
            <p><%= t.name %></p>
            <p class="team-members"><%= truncate(t.description, :length => 150) %></p>
          </div>
          <span><%= t.users.size %> member<%= t.users.size == 1 ? "" : "s" %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>