<div class="projects-container">
  <h4>My Projects</h4>
  <%= link_to('New Project', new_project_path, class: "btn-new-project") %></p>
  <div class="my-projects">
    <% @my_projects.each do |p| %>
      <%= link_to project_path(p) do %>
        <div class="my-project">
          <div class="my-project-description">
            <p><%= p.title %></p>
            <p class="my-project-collaborators"><%= truncate(p.description, :length => 60) %></p>
          </div>
          <span><%= p.stars.size %> ★</span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<p><%= link_to('Click here to star a project', controller: "star", action: "new") %></p>