<h4>New Project</h4>
<%= link_to '< Go Back', {controller: "projects", action: "index"}, class: "btn-go-back" %>

<%= form_tag(controller: "projects", action: "create") do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %> <br />
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %> <br />
  <%= label_tag(:tasks, "Tasks:") %>
  <%= text_field_tag(:tasks) %> <br />
  <%= label_tag(:milestones, "Milestones:") %>
  <%= text_field_tag(:milestones) %> <br />
  <%= label_tag(:team, "Team:") %>
  <%= collection_select(:team, :team, Team.all, :id, :name, prompt: true) %><br/>
  <%= label_tag(:collaborators, "Collaborators:") %>
  <%= text_field_tag(:collaborators) %> <br />
  <%= label_tag(:stakeholders, "Stakeholders:") %>
  <%= text_field_tag(:stakeholders) %> <br />
  <%= submit_tag "Submit", class: "btn" %>
<% end %>
