<!DOCTYPE html>
<html>
  <head>
    <title>Pegasus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar">
      <a href="/"><p><%= image_tag image_url("logo.png"), class:"logo" %></p></a>
    </div>
    <div class="sidebar">
      <div class="profile_container">
        <%= image_tag current_user.image, class:"profile_pic" %>
      </div>
      <div class="profile_description">
        <h4><%= current_user.name %></h4>
        <h6><%= current_user.role.nil? || current_user.role == "" ? "No role set" : current_user.role %> | <%= current_user.team.nil? || current_user.team == "" ? "No team set" : current_user.team %></h6>
        <h6 class="exp">XP: <span class="expnum"><%= current_user.xp %></span> <span class="exppts">PTS</span></h6>
      </div>
      <div class="progress">
        <div class="progress-bar-outline">
          <div class="progress-bar-fill">
          </div>
        </div>
        <p class="progress-start-label">Reliable</p>
        <p class="progress-stop-label">Accomplished</p>
      </div>
      <div class="shortcuts">
        <div class="shortcut">
          <a href="/">
            <% if current_page == "/" %>
              <%= image_tag image_url("feed_active.svg")%>
              <p class="shortcut-link shortcut-active">My Feed</p>
            <% else %>
              <%= image_tag image_url("feed.svg") %>
              <p class="shortcut-link">My Feed</p>
            <% end %>
          </a>
        </div>
        <div class="shortcut">
          <a href="/projects">
            <% if current_page == "/projects" %>
              <%= image_tag image_url("projects_active.svg") %>
              <p class="shortcut-link shortcut-active">Projects</p>
            <% else %>
              <%= image_tag image_url("projects.svg") %>
              <p class="shortcut-link">Projects</p>
            <% end %>
          </a>
        </div>
        <div class="shortcut">
          <a href="/profile">
            <% if current_page == "/profile" || current_page == "user" %>
              <%= image_tag image_url("profile_active.svg") %>
              <p class="shortcut-link shortcut-active">Profile</p>
            <% else %>
              <%= image_tag image_url("profile.svg") %>
              <p class="shortcut-link">Profile</p>
            <% end %>
          </a>
        </div>
        <div class="shortcut">
          <a href="/teams">
            <% if current_page == "/teams" %>
              <%= image_tag image_url("teams._activesvg") %>
              <p class="shortcut-link shortcut-active">Teams</p>
            <% else %>
              <%= image_tag image_url("teams.svg") %>
              <p class="shortcut-link">Teams</p>
            <% end %>
          </a>
        </div>
      </div>
      <%= link_to "LOGOUT", signout_path, class: "btn_logout" %>
    </div>
    <div class="content">
      <%= yield %>
    </div>  
  </body>
</html>
