<!DOCTYPE html>
<html>
  <head>
    <title>Pegasus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar">
      <p><%= image_tag image_url("logo.png"), class:"logo" %></p>
    </div>
    <div class="sidebar">
      <div class="profile_container">
        <%= image_tag current_user.image, class:"profile_pic" %>
      </div>
      <div class="profile_description">
        <h4><%= current_user.name %></h4>
        <h6>Software Engineer | Infrastructure</h6>
        <h6 class="exp">Exp: <span class="expnum">64</span> <span class="exppts">PTS</span></h6>
      </div>
      <div class="progress">
        <div class="progress-bar-outline">
          <div class="progress-bar-fill">
          </div>
        </div>
        <p class="progress-start-label">Reliable</p>
        <p class="progress-stop-label">Accomplished</p>
      </div>
      <div class="shortcuts">
        <p class="shortcut-label">Shortcuts</p>
        <div class="shortcut">
          <div class="shortcut-icon"></div>
          <p class="shortcut-link">My Feed</p>
        </div>
        <div class="shortcut">
          <div class="shortcut-icon"></div>
          <p class="shortcut-link">Projects</p>
        </div>
        <div class="shortcut">
          <div class="shortcut-icon"></div>
          <p class="shortcut-link">Profile</p>
        </div>
        <div class="shortcut">
          <div class="shortcut-icon"></div>
          <p class="shortcut-link">Settings</p>
        </div>
      </div>
      <%= link_to "LOGOUT", signout_path, class: "btn_logout" %>
    </div>
    <div class="content">
      <%= yield %>
    </div>  
  </body>
</html>
